/* add space between entries */
.border {
    display: block;
    margin-bottom: 50px;
}

p {
    font-family: 'Source Sans Pro', sans-serif;
    padding: 10px;
    font-size: 125%;
}

.title {
    font-family: 'Source Sans Pro', sans-serif;
    color: #08abdb;
}

#table {
    border-collapse: collapse;
    width: 100%;
    /* change font here */
    font-family: 'Source Sans Pro', sans-serif;
}

/* table border styling */
#table td, #table th {
    border: 1px solid #ddd;
    padding: 8px;
    font-size: 125%;
}

/* table text styling */
#table a {
    text-decoration: none;
    color: black;
    font-family: 'Source Sans Pro', sans-serif;
}

/* change text color on mouse hover */
#table a:hover {
    color: white;
}

#table tr:nth-child(even){
    background-color: #f2f2f2;
}

/* change row background color on mouse hover */
#table tr:hover {
    background-color: #ddd;
}

/* table header styling */
#table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #08abdb;
    color: white;
}

/*
@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}*/