h1 {
    color: white;
}

.thanks-text {
    padding: 10px;
    background: black;
    color: white;
    text-align: center;
    /* font-style: italic; */
    font-size: 20px;
    font-family: 'gamer';
}

.follow-text {
    padding: 1px;
    text-align: center;
    font-size: 110%;
    font-family: 'gamer';
}

/* about block styling */
.about-block {
    padding: 10px;
    background-color: black;
    height: 300px;
}

.container {
    width:300px;
    height:300px;
    border-radius:50%;
    float:left;
}

/* hover effect on circle icon */
.overlay {
    position: absolute;
    width:300px;
    height:300px;
    border-radius:50%;
    float:left;
    opacity: 0;
    transition: .5s ease;
    background-color: #ddd;
    transform: scale(0.85); /* minor edit - scale for smaller icon */
}

.container:hover .overlay {
    opacity: 0.5;
}

/* text block styling */
.text-block {
    margin-top: 30px;
    padding-left: 400px;
    font-family: 'gamer';
    color: white;
    font-size: 1.5vw;  /* responsive font-size */
}

/* Responsive layout - when the screen is less than 600px wide, make the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .text-block {
        padding-left: 0px;
        clear: both;
        padding-top: 30px;
        width: 100%;
        height: 1600px;
    }
    .about-block {
        width: 100%;
        height: 800px;
    }
    .text-block {
        font-size: 20px;
    }
}

/* Credits for font from googlectf - https://capturetheflag.withgoogle.com/ */
@font-face {
    font-family: 'gamer';
    src:
        /* url('../fonts/gameplay.ttf') */
        url('../fonts/36CCDB_0_0.woff2')
        format('truetype');
}
