body {
    background: #f1f1f1;
}

.banner {
    /* change height of banner */
    padding: 70px;
    text-align: center;
    /* insert background color here */
    background: #1E90FF;
    /* insert text color here */
    color: white;
}

.navbar {
    overflow: hidden;
    background-color: #333;
}

/* nav bar link styling */
.navbar a{
    float: right;
    display: block;
    color: white;
    text-align: center;
    padding: 20px 30px;
    text-decoration: none; /* remove underline */
    font-size: 125%;
}

/* Change color on hover */
.navbar a:hover {
    background-color: #ddd;
    color: black;
}

/* Effect for terminal as background */
.terminal {
    background-color: black;
    box-sizing: content-box;
    height: 300px;
    display: block;
    padding: 30px;
    margin-top: 20px;
}

/* Terminal output styling */
#output {
    color: MediumSeaGreen;
    font-size: 30px;
    font-family: "Courier New", Courier, monospace;
}

.footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
    color: #ddd;
}

/* styling social media buttons */
.fa {
    padding: 15px;
    font-size: 15px;
    height: 15px;
    width: 15px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    background: #55ACEE;
    color: white;
}

.fa:hover {
    opacity: 0.7;
}

/* Responsive layout - when the screen is less than 600px wide, make the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .terminal {
        width: 100%;
    }
}