body {
    background: #f1f1f1;
}

/* blog block styling */
.card {
    background-color: #343434;
    padding: 20px;
    margin-top: 20px;
}

/* preview description styling */
p {
    color: #e8ecef;
}

/* title of block styling */
h2[itemprop="name"] a {
    text-decoration: none;
    font-family: 'Source Sans Pro', sans-serif;
    color: #08abdb;
}

section[itemprop="description"] p {
    font-size: 125%;
    font-family: 'Source Sans Pro', sans-serif;
}